<h5 *ngIf="ventana === 'datos'">Guardería: Registro de información diaria</h5>
<h5 *ngIf="ventana === 'historial'">Guardería: Histórico de información diaria</h5>

<div>
    <div *ngIf="ventana === 'historial'">
        <form>
            <fieldset>
                <label for="nombre">
                    Nombre del niño/a:
                    <br>
                    <select class="nombre" id="nombre" required>
                        <option value="" selected>Selecciona nombre</option>
                        <option *ngFor="let name of nombres" [value]="name">{{ name }}</option>
                    </select>
                </label>
                <div class="fecha-turno">
                    <label class="short">
                        Desde:
                        <input type="date" [value]="formatDateDDMMYYYY(fechaActual)">
                    </label>
                    <label class="short">
                        Hasta:
                        <input type="date" [value]="formatDateDDMMYYYY(fechaActual)">
                    </label>
                    <label for="fruit">
                        Turno:
                        <select id="fruit" required>
                            <option value="" selected>Selecciona turno</option>
                            <option *ngFor="let turno of turnos" [value]="turno">{{ turno }}</option>
                        </select>
                    </label>
                </div>
            </fieldset>
            <footer>
                <a href="javascript:void(0)" (click)="setNewReserva()" *ngIf="tipoUsuario=='User'" role="button"
                    type="button">Nueva reserva</a>
                <a href="javascript:void(0)" role="button" type="button">Buscar</a>
            </footer>
        </form>

        <div class="lista-historial">
            <figure>
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Nombre del niño/a:</th>
                            <th scope="col">Fecha</th>
                            <th scope="col">Turno</th>
                            <th scope="col">Desayuno</th>
                            <th scope="col">Comida</th>
                            <th scope="col">Merienda</th>
                            <th scope="col">Deposiciones</th>
                            <th scope="col">Pis</th>
                            <th scope="col">Siesta</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let reserva of reservas">
                            <th scope="row">{{reserva.nombre}}</th>
                            <td>{{formatDateDDMMYYYY(reserva.fechaEntrada)}}</td>
                            <td>{{reserva.turno}}</td>
                            <td>{{reserva.desayuno}}</td>
                            <td>{{reserva.almuerzo}}</td>
                            <td>{{reserva.merienda}}</td>
                            <td>{{reserva.deposiciones}}</td>
                            <td><input type="checkbox" class="pis-siesta-checkbox" id="pis" name="pis"
                                    [checked]="reserva.pis" disabled></td>
                            <td><input type="checkbox" class="pis-siesta-checkbox" id="siesta" name="siesta"
                                    [checked]="reserva.siesta" disabled></td>
                            <td><a href="javascript:void(0)" (click)="setEditReserva(reserva)"><i
                                        class="pencil"></i></a></td>
                            <td> <a href="javascript:void(0)" (click)="openModalBorrar()"><i class="trash"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </figure>
        </div>
    </div>

    <div *ngIf="ventana === 'datos'">
        <div class="nombre-historico-container">
            <label class="nombre" for="nombre">
                Nombre del niño/a:
                <select id="nombre" required>
                    <option>Selecciona un nombre</option>
                    <option *ngFor="let name of nombres" [value]="name" [selected]="reserva?.nombre === name">
                        {{name}}</option>
                </select>
            </label>
        </div>
        <div class="fecha-turno">
            <label class="short">
                Fecha de entrada:
                <input type="datetime-local"
                    [value]="reserva ? formatDateDDMMYYYYHHMM(reserva.fechaEntrada) : fechaActual">
            </label>
            <label for="fruit">
                Turno:
                <select id="fruit" required [value]="reserva?.turno">
                    <option>Selecciona un turno</option>
                    <option *ngFor="let turno of turnos" [value]="turno">{{ turno }}</option>
                </select>
            </label>
            <label for="autorizacion_recogida">
                <input type="checkbox" id="autorizacion_recogida" name="autorizacion_recogida"
                    [checked]="reserva?.autorizacion === true">
                Autorización Recogida
                <input type="text" id="nombre" class="persona-autorizada" name="nombre"
                    placeholder="Introduzca su nombre" [value]="reserva?.autorizado">
            </label>
        </div>
        <a href="javascript:void(0)" (click)="monitorDatos()" id="monitorDatos" role="button" class="monitor-button"
            type="button">Monitor</a>
        <a href="javascript:void(0)" (click)="padresDatos()" id="padresDatos" role="button" class="padres-button"
            type="button">Padres</a>
        <div class="monitor-data-container" *ngIf="ventanaDatos === 'monitor'">
            <div class="">
                <figure>
                    <table>
                        <thead>
                            <tr>
                                <th scope="col">Alimentación</th>
                                <th scope="col">Nada</th>
                                <th scope="col">Poco</th>
                                <th scope="col">Bastante</th>
                                <th scope="col">Todo</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Desayuno</td>
                                <td><input type="radio" name="desayuno" value="nada"
                                        [checked]="reserva?.desayuno === 'Nada'">
                                </td>
                                <td><input type="radio" name="desayuno" value="poco"
                                        [checked]="reserva?.desayuno === 'Poco'">
                                </td>
                                <td><input type="radio" name="desayuno" value="bastante"
                                        [checked]="reserva?.desayuno === 'Bastante'"></td>
                                <td><input type="radio" name="desayuno" value="todo"
                                        [checked]="reserva?.desayuno === 'Todo'">
                                </td>
                            </tr>
                            <tr>
                                <td>Almuerzo</td>
                                <td><input type="radio" name="almuerzo" value="nada"
                                        [checked]="reserva?.almuerzo=== 'Nada'">
                                </td>
                                <td><input type="radio" name="almuerzo" value="poco"
                                        [checked]="reserva?.almuerzo === 'Poco'">
                                </td>
                                <td><input type="radio" name="almuerzo" value="bastante"
                                        [checked]="reserva?.almuerzo === 'Bastante'"></td>
                                <td><input type="radio" name="almuerzo" value="todo"
                                        [checked]="reserva?.almuerzo === 'Todo'">
                                </td>
                            </tr>
                            <tr>
                                <td>Merienda</td>
                                <td><input type="radio" name="merienda" value="nada"
                                        [checked]="reserva?.merienda === 'Nada'">
                                </td>
                                <td><input type="radio" name="merienda" value="poco"
                                        [checked]="reserva?.merienda === 'Poco'">
                                </td>
                                <td><input type="radio" name="merienda" value="bastante"
                                        [checked]="reserva?.merienda === 'Bastante'"></td>
                                <td><input type="radio" name="merienda" value="todo"
                                        [checked]="reserva?.merienda === 'Todo'">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </figure>
            </div>
            <div class="datos-Extra-container">
                <div class="deposiciones-container">
                    <label for="deposiciones">Deposiciones:</label>
                    <select id="deposiciones" [value]="reserva?.deposiciones">
                        <option *ngFor="let deposicion of deposiciones" [value]="deposicion"
                            [selected]="reserva.deposiciones === deposicion">{{ deposicion }}</option>
                    </select>
                </div>
                <div class="pis-container">
                    <label>
                        Pis:
                        <input type="checkbox" id="pis" name="pis" [checked]="reserva?.pis">
                    </label>
                </div>
                <div class="siesta-container">
                    <label>
                        Siesta:
                        <input type="checkbox" id="siesta" name="siesta" [checked]="reserva?.siesta">
                    </label>
                </div>
            </div>
            <div class="observaciones-Monitor-container">
                <label for="observaciones-Monitor">Observaciones:</label>
                <textarea id="observaciones-Monitor" class="observaciones-Monitor"
                    [value]="reserva?.observacionesMonitora" name="observaciones-Monitor" cols="50"></textarea>
            </div>
        </div>

        <div class="padres-data-container" *ngIf="ventanaDatos == 'padres'">
            <div class="alergias-container">
                <label>
                    Intolerancias:
                    <details role="list">
                        <summary aria-haspopup="listbox">
                            Intolerancias</summary>
                        <ul role="listbox">
                            <li *ngFor="let alergia of alergias; let i = index">
                                <label>
                                    <input type="checkbox" aria-label="intolerancias" (change)="toggleVisibilidad(i)"
                                        [checked]="alergiasSeleccionadas[i]">
                                    {{alergia}}
                                </label>
                            </li>
                        </ul>
                    </details>
                </label>

                <div class="alergias-container__elegidas">
                    <a href="javascript:void(0)" [hidden]="!alergiasSeleccionadas[i]"
                        *ngFor="let alergia of alergias; let i = index" role="button" class="outline">{{alergia}}</a>
                </div>
            </div>

            <div class="observaciones-container">
                <label for="observaciones">Observaciones:</label>
                <textarea id="observaciones" class="observaciones" name="observaciones" rows="3" cols="50"
                    [value]="reserva?.observacionesPadre"></textarea>

            </div>
        </div>
        <footer>
            <a href="javascript:void(0)" *ngIf="!nuevaReserva" (click)="setVentana('historial')" role="button"
                type="button">Volver</a>
            <a href="javascript:void(0)" *ngIf="nuevaReserva" (click)="setVentana('historial')" role="button"
                type="button">Histórico</a>
            <a href="javascript:void(0)" (click)="openModalGuardar()" role="button" type="button">Guardar</a>
        </footer>
    </div>
</div>

<dialog id="modal-guardar" [attr.open]="guardar">
    <article>
        <div class="modal-container">
            <strong>Datos guardados.</strong><br><br>
            <a href="javascript:void(0)" (click)="closeModalGuardar()" role="button" type="button">Volver</a>
        </div>
    </article>
</dialog>
<dialog id="modal-guardar" [attr.open]="borrar">
    <article>
        <div class="modal-borrar-container">
            <strong>¿Seguro que quiere cancelar la reserva?.</strong><br><br>
            <div class="botones-modal-borrar-container">
                <a href="javascript:void(0)" (click)="closeModalBorrar()" role="button" type="button">Volver</a>
                <a href="javascript:void(0)" (click)="closeModalBorrar()" role="button" type="button">Borrar</a>
            </div>
        </div>
    </article>
</dialog>