<h5>Guardería</h5>

<form>
    <label for="base">
        Base:
        <select id="base" required>
            <option value="" selected>Seleccion una base</option>
            <option>Los Llanos</option>
        </select>
    </label>
    <label>
        Nombre padre/madre:
        <input type="text">
    </label>
    <div class="fecha-turno">
        <label>
            Fecha:
            <input type="datetime-local">
        </label>
        <label for="fruit">
            Turno:
            <select id="fruit" required>
                <option value="" selected>Selecciona turno</option>
                <option>Día completo</option>
                <option>Mañana</option>
                <option>Tarde</option>
            </select>
        </label>
    </div>
    <footer>
        <a href="javascript:void(0)" role="button" type="button">Buscar</a>
    </footer>
</form>

<figure>
    <table>
        <thead>
            <tr>
            <th scope="col">Base</th>
            <th scope="col">Nombre padre/madre</th>
            <th scope="col">Nombre niño/a</th>
            <th scope="col">Fecha</th>
            <th scope="col">Turno</th>
            </tr>
        </thead>
        <tbody>
            <tr>
            <th scope="row">Los Llanos</th>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            </tr>
            <tr>
            <th scope="row">Torrejón de Ardoz</th>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            </tr>
            <tr>
            <th scope="row">Zaragoza</th>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            </tr>
            <tr>
            <th scope="row">Morón</th>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            </tr>
            <tr>
            <th scope="row">Matacán</th>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            <td>Cell</td>
            </tr>
        </tbody>
        </table>
</figure>

    <footer>
        <a routerLink="/guarderia/alta" role="button" type="button">Alta</a>
        <a href="javascript:void(0)" role="button" type="button">Editar</a>
        <a href="javascript:void(0)" role="button" type="button">Eliminar</a>
    </footer>