<h5>Guardería</h5>

<div *ngIf="ventana === 'historial'">
    <fieldset>
        <form>
            <label for="nombre">
                Nombre:
                <br>
                <select class="nombre" id="nombre" required>
                    <option value="" selected>Selecciona nombre</option>
                    <option *ngFor="let name of nombres" [value]="name">{{ name }}</option>
                </select>
            </label>
            <div class="fecha-turno">
                <label class="short">
                    Desde:
                    <input type="datetime-local">
                </label>
                <label class="short">
                    Hasta:
                    <input type="datetime-local">
                </label>
                <label for="fruit">
                    Turno:
                    <select id="fruit" required>
                        <option value="" selected>Selecciona turno</option>
                        <option *ngFor="let turno of turnos" [value]="turno">{{ turno }}</option>
                    </select>
                </label>
            </div>
            <footer>
                <a href="javascript:void(0)" role="button" type="button">Buscar</a>
            </footer>
        </form>

        <figure>
            <table>
                <thead>
                    <tr>
                        <th scope="col">Nombre niño/a</th>
                        <th scope="col">Fecha entrada</th>
                        <th scope="col">Turno</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Editar/Borrar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let reserva of reservas">
                        <th scope="row">{{reserva.nombre}}</th>
                        <td>{{reserva.fechaEntrada}}</td>
                        <td>{{reserva.turno}}</td>
                        <td>{{reserva.estado}}</td>
                        <td><a href="javascript:void(0)" (click)="setEditReserva(reserva)" role="button"
                                type="button" class="fa-solid fa-pen-to-square" style="color: #ffffff;"></a>
                            <a href="javascript:void(0)" (click)="openModalBorrar()" role="button"
                                class="fa-solid fa-trash-can"></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </figure>
    </fieldset>
</div>

<div *ngIf="ventana === 'datos'">
    <form>
        <fieldset>
            <div class="nombre-historico-container">
                <label class="nombre" for="nombre">
                    Nombre:
                    <select id="nombre" required>
                        <option *ngFor="let name of nombres" [value]="name" [selected]="reserva.nombre === name">{{ name }}</option>
                    </select>
                </label>
                <a href="javascript:void(0)" *ngIf="tipoUsuario === 'User'" (click)="setVentana('historial')" role="button" type="button">Historial</a>
            </div>
            <div class="fecha-turno">
                <label class="short">
                    Fecha de entrada:
                    <input type="datetime-local" [value]="reserva.fechaEntrada">
                </label>
                <label for="fruit">
                    Turno:
                    <select id="fruit" required [value]="reserva.turno">
                        <option *ngFor="let turno of turnos" [value]="turno">{{ turno }}</option>
                    </select>
                </label>
                <label for="autorizacion_recogida">
                    <input type="checkbox" id="autorizacion_recogida" name="autorizacion_recogida"
                        [checked]="reserva.autorizacion === true">
                    Autorización Recogida
                    <input type="text" id="nombre" name="nombre" placeholder="Introduzca su nombre"
                        [value]="reserva.autorizado">
                </label>
            </div>
    
            <a href="javascript:void(0)" (click)="monitorDatos()" id="monitorDatos" role="button" class="monitor-button"
                type="button">Monitor</a>
            <a href="javascript:void(0)" (click)="padresDatos()" id="padresDatos" role="button" class="padres-button"
                type="button">Padres</a>
            <div class="monitor-data-container" *ngIf="ventanaDatos === 'monitor'">
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Alimentación</th>
                            <th scope="col">Nada</th>
                            <th scope="col">Poco</th>
                            <th scope="col">Bastante</th>
                            <th scope="col">Todo</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Desayuno</td>
                            <td><input type="radio" name="desayuno" value="nada" [checked]="reserva.desayuno === 'Nada'">
                            </td>
                            <td><input type="radio" name="desayuno" value="poco" [checked]="reserva.desayuno === 'Poco'">
                            </td>
                            <td><input type="radio" name="desayuno" value="bastante"
                                    [checked]="reserva.desayuno === 'Bastante'"></td>
                            <td><input type="radio" name="desayuno" value="todo" [checked]="reserva.desayuno === 'Todo'">
                            </td>
                        </tr>
                        <tr>
                            <td>Almuerzo</td>
                            <td><input type="radio" name="almuerzo" value="nada" [checked]="reserva.almuerzo=== 'Nada'">
                            </td>
                            <td><input type="radio" name="almuerzo" value="poco" [checked]="reserva.almuerzo === 'Poco'">
                            </td>
                            <td><input type="radio" name="almuerzo" value="bastante"
                                    [checked]="reserva.almuerzo === 'Bastante'"></td>
                            <td><input type="radio" name="almuerzo" value="todo" [checked]="reserva.almuerzo === 'Todo'">
                            </td>
                        </tr>
                        <tr>
                            <td>Merienda</td>
                            <td><input type="radio" name="merienda" value="nada" [checked]="reserva.merienda === 'Nada'">
                            </td>
                            <td><input type="radio" name="merienda" value="poco" [checked]="reserva.merienda === 'Poco'">
                            </td>
                            <td><input type="radio" name="merienda" value="bastante"
                                    [checked]="reserva.merienda === 'Bastante'"></td>
                            <td><input type="radio" name="merienda" value="todo" [checked]="reserva.merienda === 'Todo'">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="datos-Extra-container">
                    <div class="deposiciones-container">
                        <label for="deposiciones">Deposiciones_</label>
                        <select id="deposiciones" [value]="reserva.deposiciones">
                            <option *ngFor="let deposicion of deposiciones" [value]="deposicion" [selected]="reserva.deposiciones === deposicion">{{ deposicion }}</option>
                        </select>
                    </div>
                    <div class="pis-container">
                        <input type="checkbox" id="pis" name="pis" [checked]="reserva.pis">
                        <label for="alergia_leche">Pis</label>
                    </div>
                    <div class="siesta-container">
                        <input type="checkbox" id="siesta" name="siesta" [checked]="reserva.siesta">
                        <label for="alergia_leche">Siesta</label>
                    </div>
                    <div class="observacionesMonitor-container">
                        <label for="observacionesMonitor">Observaciones:</label>
                        <textarea id="observacionesMonitor" class="observacionesMonitor"
                            [value]="reserva.observacionesMonitora" name="observacionesMonitor" cols="50"></textarea>
                    </div>
                </div>
            </div>
    
            <div class="padres-data-container" *ngIf="ventanaDatos === 'padres'">
                <div class="alergias-comentario-container">
                    <div class="alergias">
                        Alergias/Intolerancias:
                        <details role="list" >
                            <summary aria-haspopup="listbox">Selecciona Alergias/Intolerancias</summary>
                            <ul role="listbox">
                                <li *ngFor="let alergia of alergias; let i = index">
                                    <label>
                                        <input type="checkbox" aria-label="intolerancias" (change)="toggleVisibilidad(i)" [checked]="alergiasSeleccionadas[i]">
                                        {{alergia}}
                                    </label>
                                </li>
                            </ul>
                        </details>
                    </div>
    
                    <div class="alergias-seleccionadas-container">
                        <div class="enlaces-container">
                            <a href="javascript:void(0)" [hidden]="!alergiasSeleccionadas[i]"
                                *ngFor="let alergia of alergias; let i = index" role="button"
                                 class="outline">{{alergia}}</a>
                        </div>
                        <input type="text" class="otras-alergias" *ngIf="alergiasSeleccionadas[alergias.indexOf('Otros')]"
                            placeholder="Escriba las otras alergias">
                    </div>
    
                    <div class="observaciones-container">
                        <label for="observaciones">Observaciones:</label>
                        <textarea id="observaciones" class="observaciones" name="observaciones" rows="3"
                            cols="50" [value]="reserva.observacionesPadre"></textarea>
                    </div>
                </div>
            </div>
            <footer>
                <a href="javascript:void(0)" *ngIf="tipoUsuario === 'monitor'" (click)="setVentana('historial')" role="button" type="button">Volver</a>
                <a href="javascript:void(0)" (click)="openModalGuardar()" role="button" type="button">Guardar</a>
            </footer>
        </fieldset>
    </form>
</div>

<dialog id="modal-guardar" [attr.open]="guardar">
    <article>
        <div class="modal-container">
            <strong>Datos guardados.</strong><br><br>
            <a href="javascript:void(0)" (click)="closeModalGuardar()" role="button" type="button">Volver</a>
        </div>
    </article>
</dialog>
<dialog id="modal-guardar" [attr.open]="borrar">
    <article>
        <div class="modal-borrar-container">
            <strong>¿Seguro que quiere cancelar la reserva?.</strong><br><br>
            <div class="botones-modal-borrar-container">
                <a href="javascript:void(0)" (click)="closeModalBorrar()" role="button" type="button">Volver</a>
                <a href="javascript:void(0)" (click)="closeModalBorrar()" role="button" type="button">Borrar</a>
            </div>
        </div>
    </article>
</dialog>