:host {
    display: block;
}

.fecha-turno {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 40px;

    label {
        width: 250px;
    }
}

footer {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 5px;
}

.modal-alta-container {
    text-align: center;
}

.datos-Extra-container {
    display: flex;
    align-items: center;
    column-gap: 40px;
    margin-left: 3%;
    a {
        margin-top: 7px;
    }
}

.padres-button,
.monitor-button {
    border-radius: 0;
}

.monitor-data-container {
    border: 1px solid #3596c3;
}

.padres-data-container {
    border: 1px solid #3596c3;
}

.alergias-container {
    display: flex;
    align-items: center;
    margin-left: 3%;
    margin-top: 5px;
    gap: 20px;
    min-width: 100%;

    &__elegidas {
        margin-top: 4px;
        display: flex;
        gap: 20px;

        & .outline {
            cursor: default;
        }
    }
}

.lista-historial {
    display: flex;
    flex-direction: column;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    gap: 2rem;
    & figure {
        max-height: 20rem;
    }
}

.observaciones-Monitor {
    width: 90%;
}

.observaciones-Monitor-container {
    margin-left: 3%;
}

.observaciones {
    width: 90%;
}

.observaciones-container {
    margin-left: 3%;
}

.modal-container {
    text-align: center;
}

.persona-autorizada {
    width: 150%;
}

.pis-siesta-checkbox[disabled] {
    opacity: 1;
    background-color: #3596c3;
}

.pencil {
    background-image: url("../../../assets/pencil-square.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 33px;
    height: 33px;
}

.trash {
    background-image: url("../../../assets/trash3.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 33px;
    height: 33px;
}