:host {
    display: block;
}

.fecha-turno {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 40px;

    label {
        width: 250px;
    }
}

footer {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-top: 5px;
}

.fa-solid {
    border-radius: 0;
}

.fa-pen-to-square {
    color: #ffffff;
}

.fa-trash-can {
    border-color: red;
    background-color: red;
    color: #000000;
}

.fa-trash-can:hover {
    background-color: rgb(219, 0, 0);
}

.nombre {
    width: 42%;
}

.nombre-historico-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 40px;

    label {
        width: 250px;
    }
}

.modal-alta-container {
    text-align: center;
}

.modal-borrar-container {
    text-align: center;
}

.datos-Extra-container {
    display: flex;
    align-items: center;
    column-gap: 40px;
    margin-left: 3%;
    a {
        margin-top: 7px;
    }
}

.padres-button,
.monitor-button {
    border-radius: 0;
}

.padres-data-container,
.monitor-data-container {
    border: 1px solid #ccc;
    border-color: #3596c3;
}

.botones-modal-borrar-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px
}

.alergias-comentario-container {
    display: flex;
    align-items: center;
    margin-left: 3%;
    margin-top: 5px;
    gap: 20px;

    &__elegidas {
        margin-top: 4px;
        display: flex;
        gap: 20px;

        & .outline {
            cursor: default;
        }
    }
}

.observaciones {
    width: 35%;
}

.observaciones-container {
    margin-left: 3%;
}

.modal-container {
    text-align: center;
}

.persona-autorizada {
    width: 200%;
}

.pis-siesta-checkbox[disabled] {
    opacity: 1;
    background-color: #3596c3;
}