<h5>Nueva reserva de guardería</h5>

<form>
    <fieldset>
        <label for="base">
            Base:
            <select id="base" required>
                <option value="" selected>Seleccion una base</option>
                <option>Los Llanos</option>
            </select>
        </label>
        <label>
            Nombre padre/madre:
            <input type="text">
        </label>
        <label>
            Nombre niño/a:
            <input type="text">
        </label>
        <div class="fecha-turno">
            <label>
                Fecha:
                <input type="datetime-local">
            </label>
            <label for="fruit">
                Turno:
                <select id="fruit" required>
                    <option value="" selected>Selecciona turno</option>
                    <option>Día completo</option>
                    <option>Mañana</option>
                    <option>Tarde</option>
                </select>
            </label>
        </div>
    </fieldset>
    <footer>
        <a routerLink="/guarderia" role="button" class="outline">Volver</a>
        <a routerLink="/guarderia" role="button">Guardar</a>
    </footer>
</form>