<h5>Visitas</h5>

<form>
    <fieldset>
        <label>
            Nombre:
            <input type="text">
        </label>
        <label>
            Apellidos:
            <input type="text">
        </label>
        <label class="short">
            Matrícula:
            <input type="text">
        </label>
        <label class="short">
            Fecha:
            <input type="datetime-local">
        </label>
    </fieldset>
    <footer>
        <a href="javascript:void(0)" role="button" type="button">Buscar</a>
    </footer>
</form>

<figure>
    <table>
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">Fecha entrada</th>
                <th scope="col">Fecha Salida</th>
                <th scope="col">Modelo</th>
                <th scope="col">Matrícula</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Cell</th>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
            <tr>
                <th scope="row">Cell</th>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
            <tr>
                <th scope="row">Cell</th>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
            <tr>
                <th scope="row">Cell</th>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
        </tbody>
    </table>
</figure>

<footer>
    <a routerLink="/visitas/alta" role="button" type="button">Nueva visita</a>
</footer>