.datos-admin-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.datos-admin-header h5 {
  margin: 0;
}

.datos-admin-header h1 {
  margin: 0;
  text-align: center;
}

.rango-container {
  display: flex;
  align-items: center;
}

.rango-container h3 {
  margin: 0;
}

.rango-container img {
  margin-left: 10px;
}