<h5>Fichaje diario</h5>

<form>
    <fieldset>
        <label for="base">
            Base:
            <select id="base" required>
                <option value="" selected>Seleccion una base</option>
                <option>Los Llanos</option>
            </select>
        </label>
        <label class="short">
            Fecha:
            <input type="datetime-local">
        </label>
    </fieldset>
    <footer>
        <a href="javascript:void(0)" role="button" type="button">Buscar</a>
    </footer>
</form>

<figure>
    <table>
        <thead>
            <tr>
                <th scope="col">Nombre Completo</th>
                <th scope="col">Fecha</th>
                <th scope="col">Hora</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
            <tr>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
            <tr>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
            <tr>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
            <tr>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
        </tbody>
    </table>
</figure>

<footer>
    <a routerLink="/fichaje/alta" role="button" type="button">Alta</a>
    <a href="javascript:void(0)" role="button" type="button">Editar</a>
    <a href="javascript:void(0)" role="button" type="button">Eliminar</a>
</footer>