<h5>Histórico de reservas de aparcamiento</h5>

<form>
    <fieldset>
        <label class="comedor">
            Nombre:
            <select id="base" #comedor [value]="filterTmp?.comedor ?? ''"
                (change)="comedorFilterChanged(comedor.value)">
                <option value="" selected>Selecciona un nombre</option>
                <option>Alferez Pedro</option>
                <option>Capitán Juan</option>
                <option>Comandante Mariano</option>
                <option>Mayor José</option>
                <option>Sargento Luis</option>
                <option>Teniente Dan</option>
                <option>Teniente O'Neil</option>
            </select>
        </label>
        <label class="comedor">
            Aparcamiento:
            <select id="base" #comedor [value]="filterTmp?.comedor ?? ''"
                (change)="comedorFilterChanged(comedor.value)">
                <option value="" selected>Selecciona un aparcamiento</option>
                <option>Aparcamiento 1</option>
                <option>Aparcamiento 2</option>
                <option>Aparcamiento 3</option>
            </select>
        </label>
        <label class="comedor">
            Plaza:
            <select id="base" #comedor [value]="filterTmp?.comedor ?? ''"
                (change)="comedorFilterChanged(comedor.value)">
                <option value="" selected>Selecciona una plaza</option>
                <option>Plaza 10</option>
                <option>Plaza 11</option>
                <option>Plaza 12</option>
            </select>
        </label>
        <label class="short">
            Fecha:
            <input #fdesde type="date" [value]="filterTmp?.fdesde"
                (change)="fechaFilterChanged('fdesde', fdesde.value)">
        </label>
        <div class="horas">
            <label class="short">
                Hora desde:
                <input #fdesde type="time" [value]="filterTmp?.fdesde"
                    (change)="fechaFilterChanged('fdesde', fdesde.value)">
            </label>
            <label class="short">
                Hora hasta:
                <input #fhasta type="time" [value]="filterTmp?.fhasta"
                    (change)="fechaFilterChanged('fhasta', fhasta.value)">
            </label>
        </div>
    </fieldset>
    <footer>
        <button type="button" (click)="borrar()">Borrar búsqueda</button>
        <button type="button" (click)="buscar()">Buscar</button>
    </footer>
</form>

<figure>
    <table>
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Aparcamiento</th>
                <th scope="col">Plaza</th>
                <th scope="col">Fecha</th>
                <th scope="col">Desde</th>
                <th scope="col">Hasta</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let reg of parkingList$ | async">
                <td>{{reg.nombre}}</td>
                <td>{{reg.aparcamiento}}</td>
                <td>{{reg.plaza}}</td>
                <td>{{reg.fecha}}</td>
                <td>{{reg.desde}}</td>
                <td>{{reg.hasta}}</td>
            </tr>
        </tbody>
    </table>
</figure>