.boton-historial{
    margin-right: 57px;
    text-align: center;
}

.semaforo-herramientas{
    margin-right: 66px;
    text-align: center;
}

.inventario-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caja-incidencias-conformidad{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 40px;
}
.fecha-semaforo-historial{
    display: flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;

    label {
        width: 250px;
    }
}

.fecha-semaforo-inventario{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 480px;
}

.botones-guardar-inventario{
    display: flex;
    align-items: center;
    justify-content:flex-end;
    width: 360px;
    gap: 52px;
}

.caja-historico-inventario{
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 480px;
}

.turno-inventario{
    display: flex;
    width: 480px;
}

.semaforo-historico-container{
    margin-right: 2.5%;
}

.tablas-herramientas-container {
    width: 510px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    & figure {
        max-height: 20rem;
    }
}

.caja-incidencias-conformidad-botones{
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.tablas-herramientas-historico-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    & figure {
        max-height: 20rem;
    }
}

.tablas-herramientas {
    width: auto;
}

.cabecera-herramientas-container {
    display: flex;
    justify-content: space-between;
}

.cabecera-herramientas-container a {
    height: 75%;
    width: 20%;
    border-radius: 0;
    margin-top: -0.75%;
}

footer {
    display: flex;
    justify-content: flex-end;
    gap: 20px
}

.modal-container {
    text-align: center;
}

.botones-modal-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px
}

.fa-triangle-exclamation {
    color: #ffea00;
}

.fa-check {
    color: #0bad33;
    ;
}

.columna-herramientas {
    text-align: center;
}

.checkbox-column-herramientas {
    background-color: red;
}

.checkbox-column-herramientas:checked {
    background-color: green;
}

.checkbox-column-herramientas-historial {
    background-color: red;
    pointer-events: none;
    cursor: not-allowed;
}

.checkbox-column-herramientas-historial:checked {
    background-color: green;
    pointer-events: none;
    cursor: not-allowed;
}

.tablas-hitorico-herramientas {
    width: 100%;
    border-collapse: collapse;
}

.tablas-hitorico-herramientas th,
.tablas-hitorico-herramientas td {
    text-align: center;
    padding: 8px;
}

.herramientas-error td {
    color: red;
}

.semaforo-historico-green {
    color: green;
}

.semaforo-historico-red {
    color: red;
}

.semaforo-inventario-green {
    font-size: 5em;
    color: green;
}

.semaforo-inventario-red {
    font-size: 5em;
    color: red;
}

.eye {
    background-image: url("../../../assets/eye.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 35px;
    height: 35px;
}