details {
    background: #e1e1e152;
    padding: 0.5rem;
    border-radius: 4px;
}

.filtros {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 40px;
    width: 80%;
}

.semaforo {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.guardar-herramientas {
    position: sticky;
    bottom: 0;
    background-color: white;
}

.tablas-herramientas {
    display: flex;
    flex-direction: column;

    & figure {
        max-height: 20em;
    }
}

.colSecDatos{
    text-align: center;
}

.tablas-herramientas-historico-container {
    display: flex;
    flex-direction: column;

    & figure {
        max-height: 20rem;
    }
}

.cabecera-herramientas-container a {
    height: 75%;
    border-radius: 0;
    margin-top: -0.75%;
}

footer {
    display: flex;
    justify-content: flex-end;
    gap: 20px
}

.modal-container {
    text-align: center;
}

.botones-modal-container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px
}

@media (max-width: 455px) {
    #conformidad-label {
        margin-top: 20px;
    }
}

.checkbox-column-herramientas {
    background-color: red;
}

.checkbox-column-herramientas:checked {
    background-color: green;
}

.checkbox-column-herramientas-historial {
    background-color: red;
    pointer-events: none;
    cursor: not-allowed;
}

.checkbox-column-herramientas-historial:checked {
    background-color: green;
    pointer-events: none;
    cursor: not-allowed;
}

.tablas-hitorico-herramientas {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.herramientas-error td {
    color: red;
}

.semaforo-historico-green {
    font-size: 5em;
    color: green;
}

.semaforo-historico-red {
    font-size: 5em;
    color: red;
}

.semaforo-inventario-green {
    font-size: 5em;
    color: green;
}

.semaforo-inventario-red {
    font-size: 5em;
    color: red;
}

.eye {
    background-image: url("../../../assets/eye.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 35px;
    height: 35px;
}