<h5>Peticiones de menú</h5>

<form [formGroup]="form">
    <section class="comedor-container">
        <div class="comedor">
            <label>
                Comedor:
                <select id="base" formControlName="comedor">
                    <option value="" disabled selected>Selecciona un comedor</option>
                    <option>Principal</option>
                    <option>Cantina</option>
                    <option>Edificio 2</option>
                </select>
            </label>
            <label class="short">
                Fecha:
                <input type="date" formControlName="fecha">
            </label>
        </div>
        <div class="comedor" style="gap:20px;">
            <a routerLink="/comedor/historico" role="button" type="button">Histórico</a>
            <!-- <a href="javascript:void(0)" role="button" type="button" (click)="resetForm()"><i class="fa-solid fa-repeat fa-sm"></i>&nbsp;Alta</a> -->
        </div>
    </section>

    <section class="platos" *ngIf="menuList$ | async as menuList">
        <ng-container *ngIf="pagado === ''">
            <fieldset>
                <legend>Plato principal</legend>
                <ng-container *ngFor="let principal of menuList['principal']; let i=index">
                    <label for="principal{{i}}">
                        <input type="radio" id="principal{{i}}" name="principal" formControlName="principal"
                            [value]="principal">
                        {{principal}}
                    </label>
                </ng-container>
            </fieldset>
            <fieldset>
                <legend>Plato segundo</legend>
                <ng-container *ngFor="let segundo of menuList['segundo']; let i=index">
                    <label for="segundo{{i}}">
                        <input type="radio" id="segundo{{i}}" name="segundo" formControlName="segundo"
                            [value]="segundo">
                        {{segundo}}
                    </label>
                </ng-container>
            </fieldset>
            <fieldset>
                <legend>Postre</legend>
                <ng-container *ngFor="let postre of menuList['postre']; let i=index">
                    <label for="postre{{i}}">
                        <input type="radio" id="postre{{i}}" name="postre" formControlName="postre" [value]="postre">
                        {{postre}}
                    </label>
                </ng-container>
            </fieldset>
        </ng-container>
        <!-- separador -->
        <figure *ngIf="pagado !== ''">
            <fieldset>
                <legend>Menú</legend>
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Principal</th>
                            <th scope="col">Segundo</th>
                            <th scope="col">Postre</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngIf="form.dirty && form.valid">
                            <td>{{form.value.principal}}</td>
                            <td>{{form.value.segundo}}</td>
                            <td>{{form.value.postre}}</td>
                        </tr>
                    </tbody>
                </table>
            </fieldset>
        </figure>
    </section>
    <section class="intolerancias">
        <label [class.short]="!pagado">
            Intolerancias:
            <details *ngIf="!pagado" role="list" class="intolerancias__disponibles">
                <summary aria-haspopup="listbox">Selecciona Intolerancias</summary>
                <ul role="listbox">
                    <li *ngFor="let intolerancia of intorelancias$ | async">
                        <label>
                            <input type="checkbox" aria-label="intolerancias"
                                (click)="onSelectIntolerancia(intolerancia)">{{intolerancia}}
                        </label>
                    </li>
                </ul>
            </details>
        </label>
        <div class="intolerancias__elegidas">
            <a href="javascript:void(0)" role="button" class="outline"
                *ngFor="let intolerancia of intolerancias.controls">{{intolerancia.value}}</a>
        </div>
    </section>
    <section class="importe">
        <label class="very-short">
            Importe menú:
            <input type="text" [value]="form.value.precioMenu + ' €'" readonly>
        </label>
        <label class="importe-pagado" *ngIf="pagado !== ''">
            Pagado:
            <input type="text" class="importe-pagado__check" readonly [attr.aria-invalid]="!pagado">
        </label>
        <a *ngIf="!pagado" href="javascript:void(0)" role="button" type="button" (click)="openModal()"
            [attr.aria-busy]="isLoading">Reservar</a>
        <a *ngIf="pagado" href="javascript:void(0)" role="button" type="button" (click)="openModal()">ver QR</a>
    </section>
</form>


<!-- Modal de pago -->
<dialog id="modal-pago" [attr.open]="showModal">
    <article>
        <header>
            <a (click)="closeModal()" aria-label="Close" class="close"></a>
            <span *ngIf="!pagado">Método de pago</span>
            <span *ngIf="pagado">Código QR</span>
        </header>
        <ng-container *ngIf="!pagado">
            <p>Selecciona el método de pago:</p>
            <div class="pagos">
                <ng-container *ngIf="!isLoading">
                    <a href="javascript:void(0)" (click)="pagar(true)" role="button" type="button">Online</a>
                    <a href="javascript:void(0)" (click)="pagar(false)" role="button" type="button">En caja</a>
                </ng-container>

                <a href="javascript:void(0)" *ngIf="isLoading" aria-busy="true">Conectando con la pasarela de pago, por
                    favor espere…</a>
            </div>
        </ng-container>
        <div *ngIf="pagado" class="qr">
            <img src="assets/QR.png" alt="Mi imagen PNG">
        </div>
    </article>
</dialog>