<h5>Aparcamientos</h5>

<ng-container [formGroup]="form">
    <section class="calendar">
        <i class="ico-calendar"></i>
        <form>
            <fieldset>
                <label for="date">Fecha:</label>
                <input type="date" name="date" aria-label="Date" formControlName="fecha"/>
            </fieldset>
            <div class="hours">
                <fieldset>
                    <label>Desde:</label>
                    <input type="time" name="time" aria-label="Time" />
                </fieldset>
                <fieldset>
                    <label>Hasta:</label>
                    <input type="time" name="time" aria-label="Time" />
                </fieldset>
            </div>
        </form>
    </section>
    
    <nav class="mapa"><a href="javascript:void(0)" (click)="openModal()">Ver mapa de plazas</a></nav>
    
    <figure>
        <table>
            <thead>
                <tr>
                    <th scope="col">Aparcamiento</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let aparcamiento of aparcamientos">
                    <th scope="row">{{aparcamiento}}<input type="radio" name="aparcamiento" formControlName="aparcamiento"
                            [value]="aparcamiento" /></th>
                </tr>
            </tbody>
        </table>
        <label>
            Plaza
            <select formControlName="plaza">
                <option value="" disabled selected>Selecciona una plaza</option>
                <option *ngFor="let plaza of plazas" [value]="plaza">{{plaza}}</option>
            </select>
        </label>
    </figure>
</ng-container>


<!-- Modal de mapa -->
<dialog id="modal-pago" [attr.open]="showModal">
    <article>
        <header>
            <a (click)="closeModal()" aria-label="Close" class="close"></a>
            <span>Plano aparcamiento</span>
        </header>
        <img [class.opacity]="isReservando" src="assets/aparcamiento.png" alt="Mi imagen PNG" (click)="selectPlaza()">
        <b [attr.aria-busy]="isReservando" *ngIf="isReservando">Reservando {{form.value.aparcamiento}}, {{form.value.plaza}}</b>
    </article>
</dialog>

<!-- <figure>
    <table>
        <thead>
            <tr>
                <th scope="col">Base</th>
                <th scope="col">Aparcamiento</th>
                <th scope="col">Plaza</th>
                <th scope="col">Nombre Completo</th>
                <th scope="col">Fecha</th>
                <th scope="col">Turno</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Los Llanos</th>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
            <tr>
                <th scope="row">Torrejón de Ardoz</th>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
            <tr>
                <th scope="row">Zaragoza</th>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
            <tr>
                <th scope="row">Morón</th>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
            <tr>
                <th scope="row">Matacán</th>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
        </tbody>
    </table>
</figure>

<footer>
    <a routerLink="/aparcamientos/alta" role="button" type="button">Alta</a>
    <a href="javascript:void(0)" role="button" type="button">Editar</a>
    <a href="javascript:void(0)" role="button" type="button">Eliminar</a>
</footer> -->