:host {
    display: block;
}

.calendar {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

form {
    flex: 1;
    margin: 0;
    max-width: 350px;

    fieldset {
        display: flex;
        align-items: center;
        flex: 1;
    }

    label {
        min-width: 38px;
        margin-right: 8px;
        text-align: right;
    }

    .hours {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
}

.mapa {
    padding: 4px;
    justify-content: flex-end;
    font-weight: 500;
}

figure {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    table {
        flex: 1;
        min-width: 230px;

        th {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    }

    label {
        flex: 1;
        min-width: 230px;
        font-weight: 500;
        margin: 7px 0;
    }

    select {
        margin-top: 9px;
    }
}

dialog {
    article {
        padding-bottom: 10px;
        min-width: 80%;
    }

    header {
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 4px;

        a {
            margin-top: 4px;
        }
    }
}

footer {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

.ico-calendar {
    background-image: url("../../../assets/calendar.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 90px;
    height: 90px;
}