<h5>Aparcamiento: Elección de Plaza</h5>

<ng-container [formGroup]="form">
    <section class="calendar">
        <form>
            <fieldset>
                <label for="date">Fecha:</label>
                <input type="date" name="date" aria-label="Date" formControlName="fecha"/>
            </fieldset>
            <div class="hours">
                <fieldset>
                    <label>Desde:</label>
                    <input type="time" name="time" aria-label="Time" />
                </fieldset>
                <fieldset>
                    <label>Hasta:</label>
                    <input type="time" name="time" aria-label="Time" />
                </fieldset>
            </div>
        </form>
    </section>
    
    <nav class="mapa"><a href="javascript:void(0)" (click)="openModal()">Ver mapa de plazas</a></nav>
    
    <figure>
        <table>
            <thead>
                <tr>
                    <th scope="col">Aparcamiento</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let aparcamiento of aparcamientos">
                    <th scope="row">{{aparcamiento}}<input type="radio" name="aparcamiento" formControlName="aparcamiento"
                            [value]="aparcamiento" /></th>
                </tr>
            </tbody>
        </table>
        <label>
            Plaza
            <select formControlName="plaza">
                <option value="" disabled selected>Selecciona una plaza</option>
                <option *ngFor="let plaza of plazas" [value]="plaza">{{plaza}}</option>
            </select>
            <a class="guardar" href="javascript:void(0)" (click)="openModalGuardar()" role="button" type="button">Guardar</a>
        </label>
    </figure>
</ng-container>


<!-- Modal de mapa -->
<dialog id="modal-mapa" [attr.open]="showModalMapa">
    <article>
        <header>
            <a (click)="closeModal()" aria-label="Close" class="close"></a>
            <span>Plano aparcamiento</span>
        </header>
        <img [class.opacity]="isReservando" src="assets/aparcamiento.png" alt="Mi imagen PNG" (click)="selectPlaza()">
        <b [attr.aria-busy]="isReservando" *ngIf="isReservando">Reservando {{form.value.aparcamiento}}, {{form.value.plaza}}</b>
    </article>
</dialog>

<dialog id="modal-guardar" [attr.open]="showModalGuardar">
    <article>
        <header>
            <a (click)="closeModalGuardar()" aria-label="Close" class="close"></a>
            <span>Confirmación de reserva de aparcamiento</span>
        </header>
        <div class="modal-container">
            <i class="fa-solid fa-check fa-2xl" style="color: #189100;"></i><br><br>
            <strong>Se ha registrado la plaza correctamente</strong>
        </div>
    </article>
</dialog>