<h5>Salas: Histórico</h5>
<div class="form-container">
    <label class="selector">
        Pabellón:
        <select>
            <option value="" disabled selected>Selecciona un pabellón</option>
            <option>Pabellón 1</option>
            <option>Pabellón 2</option>
            <option>Pabellón 3</option>
        </select>
    </label>
    <label class="selector">
        Sala:
        <select>
            <option value="" disabled selected>Selecciona una sala</option>
            <option *ngFor="let row of rows">{{row.sala}}</option>
        </select>
    </label>
    <div class="date-search-container">
        <label>
            Fecha:
            <input type="date">
        </label>
        <a href="javascript:void(0)" role="button" type="button">Buscar</a>
    </div>
    <figure>
        <table>
            <thead>
                <tr>
                    <th scope="col">Pabellón</th>
                    <th scope="col">Sala</th>
                    <th *ngIf="tipoUsuario=='Admin'" scope="col">Nombre Completo</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Hora desde</th>
                    <th scope="col">Hora hasta</th>
                    <th scope="col">QR</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of rows" (click)="rowClick()">
                    <td scope="row">{{item.pabellon}}</td>
                    <td>{{item.sala}}</td>
                    <td *ngIf="tipoUsuario=='Admin'">{{item.nombre}}</td>
                    <td>{{item.fecha}}</td>
                    <td>{{item.horaDesde}}</td>
                    <td>{{item.horaHasta}}</td>
                    <td style="cursor: pointer;" (click)="openModal($event)"><i class="fa-solid fa-qrcode fa-lg"></i>
                    </td>
                </tr>
            </tbody>
        </table>
    </figure>
</div>

<!-- Modal de QR -->
<dialog id="modal-pago" [attr.open]="showModal">
    <article>
        <header>
            <a (click)="closeModal()" aria-label="Close" class="close"></a>
            <span>Código QR</span>
        </header>
        <div class="qr">
            <img src="assets/QR.png" alt="Mi imagen PNG">
        </div>
    </article>
</dialog>