.form-container {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    & .selector {
        max-width: 30rem;
    }
}
.date-search-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
    max-width: 30rem;
    gap: 1rem;
}
td {
    cursor: pointer;
}
label {
    margin: 0;
}
input {
    margin: 0;
}