<h5>Piscina: Diario del Socorrista</h5>

  <form>
    <fieldset>
      <div class="fechas">
        <label class="selector">
          Piscina:
          <select>
            <option value="" disabled selected>Selecciona una piscina</option>
            <option *ngFor="let piscina of piscinas">{{ piscina }}</option>
          </select>
        </label>
        <label class="short">
          Fecha:
          <input type="date" />
        </label>
        <label>
          Hora entrada
          <input type="time" name="time" aria-label="Time" />
        </label>
        <label>
          Hora salida
          <input type="time" name="time" aria-label="Time" />
        </label>
      </div>
    </fieldset>
  </form>


<section>
  <div class="checkbox-container">
    <label htmlFor="Proyector"
      >
      <input type="checkbox" id="Proyector" name="Proyector" />Limpieza entorno:</label
    ><label htmlFor="Proyector"
      ><input
        type="checkbox"
        id="Proyector"
        name="Proyector" />Limpiafondos:</label
    ><label htmlFor="Proyector"
      ><input
        type="checkbox"
        id="Proyector"
        name="Proyector" />Cesped:</label
    ><label htmlFor="Proyector"
      ><input type="checkbox" id="Proyector" name="Proyector"
    />Botiquín:</label>
  </div>
  <div class="checkbox-container">
    <label htmlFor="Proyector"
      >
      <input type="checkbox" id="Proyector" name="Proyector" />Nivel Agua:</label
    ><label htmlFor="Proyector"
      ><input
        type="checkbox"
        id="Proyector"
        name="Proyector" />Nivel cloro:</label
    ><label htmlFor="Proyector"
      ><input
        type="checkbox"
        id="Proyector"
        name="Proyector" />Nivel PH:</label
    ><label htmlFor="Proyector"
      ><input type="checkbox" id="Proyector" name="Proyector"
    />Botellas Cloro:</label>
  </div>
</section>
<section class="observaciones-container">
  <label for="observaciones">Observaciones:</label>
  <textarea
  name="observaciones"
  aria-label="Observaciones"
>
</textarea>
</section>
<section class="footer">
  <a
  routerLink="/socorrista/historico"
      href="javascript:void(0)"
      role="button"
      type="button"
      >Histórico</a
    >
    <a (click)="openModal()"
      href="javascript:void(0)"
      role="button"
      type="button"
      >Guardar</a
    >
</section>
<dialog id="modal-pago" [attr.open]="showModal">
  <article class="modal-container">
      <header>
          <a (click)="closeModal()" aria-label="Close" class="close"></a>
          <span>Registro de tareas</span>
      </header>
      <div class="modal-data">
          <div class="title-container">
              <h4>Registro de tareas guardado correctamente</h4>
          </div>
      </div>
      <div class="footer">
          <a  (click)="continuar()" href="javascript:void(0)" role="button"
              type="button">Continuar</a>

      </div>

  </article>
</dialog>
