<h5>Nueva visita</h5>

<form>
    <label>
        Nombre:
        <input type="text">
    </label>
    <label>
        Apellidos:
        <input type="text">
    </label>
    <label>
        Fecha Entrada:
        <input type="datetime-local">
    </label>
    <legend>Vehículo:</legend>
    <div class="vehiculo">
        <label for="small">
            <input type="radio" id="small" name="vehiculo" value="S" checked>
            Sí
        </label>
        <label for="medium">
            <input type="radio" id="medium" name="vehiculo" value="N">
            No
        </label>
    </div>
    <label for="marca">
        Marca:
        <select id="marca" required>
            <option value="" selected>Seleccion una marca</option>
            <option>Seat</option>
        </select>
    </label>
    <label>
        Modelo:
        <input type="text">
    </label>
    <label>
        Motivo visita:
        <textarea name="mensaje" rows="4" cols="50"></textarea>
    </label>
    <footer>
        <a routerLink="/visitas" role="button" class="outline">Volver</a>
        <a routerLink="/visitas" role="button">Guardar</a>
    </footer>
</form>