.vehiculo {
    display: flex;
    gap: 30px;
    margin-bottom: 18px;
}

footer {
    display: flex;
    justify-content: flex-end;
    gap: 22px
}

.nombre-apellido-container,
.marca {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 40px;

    label {
        width: 250px;
    }
}