<h5>Nueva visita</h5>

<form>
    <div class="nombre-apellido-container">
        <label class="short">
            Nombre:
            <input type="text">
        </label>
        <label class="short">
            Apellido 1:
            <input type="text">
        </label>
        <label class="short">
            Apellido 2:
            <input type="text">
        </label>

        <label class="short">
            Destino:
            <input type="text">
        </label>

        <label class="short">
            Fecha Entrada:
            <input type="datetime-local">
        </label>
    </div>
    <legend>Vehículo:</legend>
    <div class="vehiculo">
        <label for="small">
            <input type="radio" id="small" name="vehiculo" value="S" (click)="setVehiculo(true)">
            Sí
        </label>
        <label for="medium">
            <input type="radio" id="medium" name="vehiculo" value="N" (click)="setVehiculo(false)">
            No
        </label>
    </div>

    <div class="marca" *ngIf="vehiculo">
        <label class="short">
            Marca:
            <select id="marca" required>
                <option value="" selected>Seleccione una marca</option>
                <option>Seat</option>
            </select>
        </label>
        <label class="short">
            Modelo:
            <input type="text">
        </label>
        <label class="short">
            Matrícula:
            <input type="text">
        </label>
    </div>
    <label>
        Motivo visita:
        <textarea name="mensaje" rows="4" cols="50"></textarea>
    </label>

    <footer>
        <a routerLink="/visitas" role="button" class="outline">Volver</a>
        <a routerLink="/visitas" role="button">Guardar</a>
    </footer>
</form>