:host {
    display: block;
}


.main-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.resources {
    display: flex;
    align-items: center;
    gap: .4rem;
}

.table-form-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;

    & figure {
        max-height: 20rem;
    }
}

.table-container {
    display: flex;
    gap: 2rem;

}

.table-container figure {
    flex: 1;
}

.date-container {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.input-container {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}

input[type=date] {
    max-width: 15rem;
}

.selector-container {
    display: flex;
    flex-direction: column;

}

.selector-container h3 {
    flex: 1;
}

.sala-title-container {
    display: flex;
    gap: 2rem;
}

.resources-container {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.footer-buttons {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: end;
}

.modal-container {
    width: 80%;
    max-width: 40rem;

    & .modal-data {
        margin-bottom: 1rem;

        & .title-container {
            display: flex;
            gap: 1rem;
        }
        .icon-container {
            display: flex;
            align-items: center;
            gap: .3rem;
            & .anchor-tooltip {
                color: inherit;
                text-decoration: none;
                margin-right: .3rem;
                margin-bottom: 1rem;
            }
    
            & .anchor-tooltip:last-of-type {
                margin-right: 0;
            }
        }

        
    }

    & .footer {
        display: flex;
        justify-content: end;
    }

}

article>header {
    margin-bottom: 1rem;
}
.projector {
    background-image: url("../../../assets/projector.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 23px;
    height: 23px;
}
.tv {
    background-image: url("../../../assets/tv.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 23px;
    height: 23px;
}
.camera-video {
    background-image: url("../../../assets/camera-video.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 23px;
    height: 23px;
}
.phone {
    background-image: url("../../../assets/phone.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 23px;
    height: 23px;
}
.laptop {
    background-image: url("../../../assets/laptop.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 23px;
    height: 23px;
}
.eye {
    background-image: url("../../../assets/eye.svg");
    background-repeat: no-repeat;
    background-size: cover;
    display: inline-block;
    width: 35px;
    height: 35px;
}