<h5>Salas: Disponibilidad de la sala</h5>

<div class="main-container">
    <div class="date-container">
        <div class="input-container">
            <input type="date" name="date" value="2024-03-06" aria-label="Date" />
        </div>
    </div>
    <div class="selector-container">
        <div class="sala-title-container">
            <h4>Pabellón 1</h4>
            <h4>Sala 2</h4>
        </div>
        <div class="resources-container">
            <div class="resources"><i class="fa-solid fa-camera"></i>Proyector: Si</div>
            <div class="resources"><i class="fa-solid fa-desktop"></i>PC: Si</div>
            <div class="resources"><i class="fa-solid fa-camera"></i>Cámara conferencia: Si</div>
            <div class="resources"><i class="fa-solid fa-phone"></i>Teléfono: Si</div>
        </div>

    </div>
    <div class="table-form-container">
        <figure>
            <table>
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Hora</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Usuario</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let reserva of reservasDisponibles">
                        <th scope="row"><input *ngIf="reserva.disponible" type="checkbox"></th>
                        <th scope="row">{{reserva.horaDesde}} - {{reserva.horaHasta}}</th>
                        <td scope="row"><i class="fa-solid fa-circle"
                                [ngStyle]="{'color': reserva.disponible ? '#1cfdb9' : '#fd1c54'}"></i></td>
                        <td>{{reserva.usuario}}</td>
                    </tr>
                </tbody>

            </table>
        </figure>

        <div class="footer-buttons">
            <a routerLink="/salas" href="javascript:void(0)" role="button" type="button">Volver</a>
            <a (click)="openModal()" href="javascript:void(0)" role="button" type="button">Reservar</a>
        </div>
    </div>
</div>
<!-- Modal de pago -->
<dialog id="modal-pago" [attr.open]="showModal">
    <article>
        <header>
            <a (click)="closeModal()" aria-label="Close" class="close"></a>
            <span>Reservar sala</span>
        </header>
        <div>
            <span>Horario: </span>
        </div>
        <div>
            <a (click)="confirmarReserva()" href="javascript:void(0)" role="button" type="button">Confirmar</a>
        </div>
        <a href="javascript:void(0)" *ngIf="isLoading" aria-busy="true">Reservando sala, por favor espere...</a>
    </article>
</dialog>