<h5>Salas: Disponibilidad de la sala</h5>

<div class="main-container">
    <div class="date-container">
        <div class="input-container">
            <input type="date" name="date" aria-label="Date" />
           </div>
    </div>
    <div class="selector-container">
        <div class="sala-title-container">
            <h4>Pabellón 1</h4>
            <h4>Sala 2</h4>
        </div>
        <div class="resources-container">
            <div class="resources"><i class="fa-solid fa-camera"></i>Proyector: Si</div>
            <div class="resources"><i class="fa-solid fa-desktop"></i>PC: Si</div>
            <div class="resources"><i class="fa-solid fa-camera"></i>Cámara conferencia: Si</div>
            <div class="resources"><i class="fa-solid fa-phone"></i>Teléfono: Si</div>
        </div>
        
    </div>
    <div class="table-form-container">
        <table>
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Hora</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Usuario</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">08:00 - 09:00</th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">09:00 - 10:00</th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">10:00 - 11:00</th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">11:00 - 12:00</th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">12:00 - 13:00</th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">13:00 - 14:00</th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">14:00 - 15:00</th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">15:00 - 16:00</th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">16:00 - 17:00</th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">17:00 - 18:00</th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">18:00 - 19:00</th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">19:00 - 20:00</th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">20:00 - 21:00</th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">21:00 - 22:00</th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">22:00 - 23:00</th>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <th scope="row">23:00 - 00:00</th>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>

        </table>

        <div class="footer-buttons">
            <a routerLink="/salas" href="javascript:void(0)" role="button" type="button">Volver</a>
        </div>
    </div>
</div>