<h5>Datos operativos</h5>

<div class="datos-body">
  <div>
    <div class="rango">
      <strong>Capitán</strong>
      <img src="assets/rango.png" alt="rango">
    </div>
    <div class="datos-texto">
      <strong>Ángel Otálora Abellón</strong>
      <p>Ejército del Aire y del Espacio</p>
      <p>Capitán (OF-2)</p>
      <p>Jefe Sección Ingeniería</p>
      <p>Maestranza Aérea de Albacete(MAESAL)</p>
    </div>
  </div>
  <div>
    <img src="assets/organigrama.png" style="min-width: 300px;" alt="Organigrama">
  </div>
</div>