.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: auto;
    white-space: nowrap;
}

.card {
    width: 150px;
    height: 100%;
    border-color: #838383;
    margin-right: 10%;
    margin-left: 10%;
    margin-top: 4%;
    border: 5px solid black;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

.headCard {
    width: 100%;
    height: auto;
    max-height: 80px;
}

#serviceName {
    font-size: 16px;
    font-weight: bold;
}
