.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow-x: auto;
    white-space: nowrap;
}

.card {
    width: 150px;

    margin-top: 20px;
    margin-left: 20px;
    border-bottom: 5px solid #3596c3;
    border-top: 1px solid #3596c3;;
    border-left: 1px solid #3596c3;
    border-right: 5px solid #3596c3;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.card:hover {
    background-color: #dddddd;
    border-bottom: 5px solid #08769b;
    border-top: 1px solid #08769b;
    border-left: 1px solid #08769b;
    border-right: 5px solid #08769b;
    cursor: pointer;
}

.headCard {
    width: 95%;
    height: auto;
    max-height: 80px;
    margin-top: 5px;
}

#serviceName {
    font-size: 16px;
    font-weight: bold;
}