<h5>Turnos</h5>

<form>
    <h4>Base aérea Los Llanos</h4>
    <fieldset>
        <div class="fechas">
            <label class="short">
                Fecha desde:
                <input type="date">
            </label>
            <label class="short">
                Fecha hasta:
                <input type="date">
            </label>
        </div>
        <a href="javascript:void(0)" role="button" type="button">Buscar</a>
    </fieldset>
</form>

<figure>
    <table>
        <thead>
            <tr>
                <th scope="col">Servicio</th>
                <th scope="col">Semana</th>
                <th scope="col">Lunes</th>
                <th scope="col">Martes</th>
                <th scope="col">Miércoles</th>
                <th scope="col">Jueves</th>
                <th scope="col">Viernes</th>
                <th scope="col">Sábado</th>
                <th scope="col">Domingo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of rows">
                <td>{{row.servicio}}</td>
                <td>{{row.semana}}</td>
                <td>{{row.lunes}}</td>
                <td>{{row.martes}}</td>
                <td>{{row.miercoles}}</td>
                <td>{{row.jueves}}</td>
                <td>{{row.viernes}}</td>
                <td>{{row.sabado}}</td>
                <td>{{row.domingo}}</td>
            </tr>
        </tbody>
    </table>
</figure>
