:host {
    display: block;
}

fieldset {
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
    gap: 1rem;

    & .fechas {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 1rem;

        label {
            width: 20rem;
        }
    }
    & a {
        height: 2.8rem;
    }
}


input{
    margin-bottom: 0;
}
label {
    margin-bottom: 0;
}