<h5>Salas</h5>

<form>
    <fieldset>
        <label for="base">
            Base:
            <select id="base" required>
                <option value="" selected>Selecciona una base</option>
                <option>Los Llanos</option>
            </select>
        </label>
        <label for="sala">
            Sala:
            <select id="sala" required>
                <option value="" selected>Selecciona una sala</option>
                <option>Sala Norte</option>
                <option>Sala Sur</option>
            </select>
        </label>
        <label class="short">
            Fecha:
            <input type="datetime-local">
        </label>
    </fieldset>
    <footer>
        <a href="javascript:void(0)" role="button" type="button">Buscar</a>
    </footer>
</form>

<figure>
    <table>
        <thead>
            <tr>
                <th scope="col">Base</th>
                <th scope="col">Sala</th>
                <th scope="col">Nombre completo</th>
                <th scope="col">Fecha</th>
                <th scope="col">Hora</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">Los Llanos</th>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
            <tr>
                <th scope="row">Torrejón de Ardoz</th>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
            <tr>
                <th scope="row">Zaragoza</th>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
            <tr>
                <th scope="row">Morón</th>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
            <tr>
                <th scope="row">Matacán</th>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
                <td>Cell</td>
            </tr>
        </tbody>
    </table>
</figure>

<footer>
    <a routerLink="/salas/alta" role="button" type="button">Alta</a>
    <a href="javascript:void(0)" role="button" type="button">Editar</a>
    <a href="javascript:void(0)" role="button" type="button">Eliminar</a>
</footer>