<h5>Salas: Petición de reserva</h5>

<div class="main-container">
    <div class="date-container">
        <i class="ico-calendar"></i>

        <div class="date-form-container">
            <div class="grid-date-container">
                <label class="day-label">Día:</label>
                <input class="day-input" type="date" name="date" aria-label="Date" />


                <label class="hour-from-label">De:</label>
                <input class="hour-from-input" type="time" name="time" aria-label="Time" />

                <label class="hour-to-label">A:</label>
                <input class="hour-to-input" type="time" name="time" aria-label="Time" />

            </div>
            <a routerLink="/salas/listado" href="javascript:void(0)" role="button" type="button">Histórico</a>
        </div>
        
    </div>
    <fieldset>

        <label htmlFor="Proyector"><input type="checkbox" id="Proyector" name="Proyector" />Proyector</label>

        <label htmlFor="tv"><input type="checkbox" id="tv" name="tv" />TV</label>

        <label htmlFor="camaraconf"><input type="checkbox" id="camaraconf" name="camaraconf" />Cámara
            Conferencia</label>

        <label htmlFor="telefono"><input type="checkbox" id="telefono" name="telefono" />Teléfono</label>

        <label htmlFor="pc"><input type="checkbox" id="pc" name="pc" />PC/Portátil</label>
    </fieldset>
</div>
<div class="table-form-container">
    <div class="table-container">
        <figure>
            <table>
                <thead>
                    <tr>
                        <th scope="col">Estado</th>
                        <th scope="col">Pabellon</th>
                        <th scope="col">Sala</th>
                        <th scope="col">Capacidad</th>
                        <th scope="col">Recursos</th>
                        <th scope="col">Disponibilidad</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let sala of salas">
                        <td scope="row"><i class="fa-solid fa-circle"
                                [ngStyle]="{'color': sala.capacidad <100 ? '#fd1c54' : '#1cfdb9'}"></i></td>
                        <td scope="row">{{sala.pabellon}}</td>
                        <td scope="row">{{sala.sala}}</td>
                        <td scope="row">{{sala.capacidad}}</td>
                        <td scope="row">
                            <a class="anchor-tooltip" *ngIf="sala.proyector" data-tooltip="Proyector" ><i class="fa-solid fa-camera"></i></a>
                            <a class="anchor-tooltip" *ngIf="sala.tv" data-tooltip="TV" ><i class="fa-solid fa-tv"></i></a>
                            <a class="anchor-tooltip" *ngIf="sala.camaraConf" data-tooltip="Cámara Conferencia" ><i class="fa-solid fa-camera"></i></a>
                            <a class="anchor-tooltip" *ngIf="sala.telefono" data-tooltip="Teléfono" ><i class="fa-solid fa-phone"></i></a>
                            <a class="anchor-tooltip" *ngIf="sala.pc" data-tooltip="PC" ><i class="fa-solid fa-laptop"></i></a>

                        </td>
                        <td scope="row"><a routerLink="/salas/disponibilidad" href="javascript:void(0)" role="button"
                                type="button">Ver</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </figure>
    </div>

</div>
