/* You can add global styles to this file, and also import other style files */

// modifico css según lo que aparece en: https: //picocss.com/docs/customization.html
[data-theme="light"],
:root:not([data-theme="dark"]) {
    --font-size: 16px;
}

* {
    box-sizing: border-box;
}

body {
    background: rgb(237, 240, 243);
    padding: 5px;
    height: 100vh;
}

input,
select,
textarea {
    // background: hsl(205, 20%, 94%);
}

thead {
    th {
        font-weight: 500;
    }
}