:host {
    display: block;
}

.ocupantes {
    display: flex;
    align-items: center;

    a {
        margin-top: 7px;
        margin-left: 21px;
    }
}

footer {
    display: flex;
    justify-content: flex-end;
    gap: 20px
}