<h5>Nuevo turno</h5>

<form>
    <fieldset>
        <label for="base">
            Base:
            <select id="base" required>
                <option value="" selected>Seleccion una base</option>
                <option>Los Llanos</option>
            </select>
        </label>
        <label for="servicio">
            Servicio:
            <select id="servicio" required>
                <option value="" selected>Selecciona un servicio</option>
                <option>Patrulla Águila</option>
                <option>Patrulla Flecha</option>
            </select>
        </label>
        <label>
            Nombre:
            <input type="text">
        </label>
        <label class="short" for="turno">
            Turno:
            <select id="turno" required>
                <option value="" selected>Selecciona un turno</option>
                <option>Mañana</option>
                <option>Tarde</option>
                <option>Noche</option>
                <option>Libre</option>
            </select>
        </label>
        <label class="short">
            Fecha:
            <input type="date">
        </label>
    </fieldset>
    <footer>
        <a routerLink="/turnos" role="button" class="outline">Volver</a>
        <a routerLink="/turnos" role="button">Guardar</a>
    </footer>
</form>