.form-container {
    display: flex;
    flex-direction: column;
    gap: .8rem;
    & .selector {
        max-width: 30rem;
    }
}
.date-search-container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
    max-width: 30rem;
    gap: 1rem;
}
td {
    cursor: pointer;
}
label {
    margin: 0;
}
input {
    margin: 0;
}
.modal-container {
  width: 80%;
  max-width: 40rem;

  & .modal-data {
      margin-bottom: 1rem;

      & .title-container {
          display: flex;
          gap: 1rem;
      }
      .icon-container {
          display: flex;
          align-items: center;
          gap: .3rem;
          & .anchor-tooltip {
              color: inherit;
              text-decoration: none;
              margin-right: .3rem;
              margin-bottom: 1rem;
          }

          & .anchor-tooltip:last-of-type {
              margin-right: 0;
          }
      }


  }

  & .footer {
      display: flex;
      justify-content: end;
  }

}
