<h5>Piscina</h5>

<form class="form-container">
    <label class="selector">
        Piscina:
        <select>
            <option value="" disabled selected>Selecciona una piscina</option>
            <option *ngFor="let piscina of piscinas">{{piscina.nombre}}</option>
        </select>
    </label>
    <div class="date-search-container">
        <label>
            Fecha:
            <input type="date">
        </label>
        <a href="javascript:void(0)" role="button" type="button">Buscar</a>
    </div>
</form>
