<h5>Nueva reserva de comedor</h5>

<form>
    <div class="comedor">
        <label>
            Comedor:
            <select id="base" #comedor [value]="" (change)="0">
                <option value="" selected>Selecciona un comedor</option>
                <option>Principal</option>
                <option>Cantina</option>
                <option>Edificio 2</option>
            </select>
        </label>
        <label class="short">
            Fecha:
            <input type="datetime-local">
        </label>
    </div>
    <figure>
    <fieldset>
        <legend>Menú</legend>
            <table>
                <thead>
                    <tr>
                        <th scope="col">Principal</th>
                        <th scope="col">Segundo</th>
                        <th scope="col">Postre</th>
                        <th scope="col">Bebida</th>
                        <th scope="col">Café/Infusión</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngIf="form.dirty && form.valid">
                        <td>{{form.value.principal}}</td>
                        <td>{{form.value.segundo}}</td>
                        <td>{{form.value.bebida}}</td>
                        <td>{{form.value.postre}}</td>
                        <td>{{form.value.cafe}}</td>
                    </tr>
                </tbody>
            </table>
            <a href="javascript:void(0)" (click)="openModal()" style="font-weight: 600;">Seleccionar Menú</a>
        </fieldset>
    </figure>
    <fieldset>
        <legend>Intolerancias</legend>
        <label for="celiaco">
            <input type="checkbox" id="celiaco" name="celiaco">
            Celíaco
        </label>
        <label for="lactosa">
            <input type="checkbox" id="lactosa" name="lactosa">
            Lactosa
        </label>
        <label for="marisco">
            <input type="checkbox" id="marisco" name="marisco">
            Marisco
        </label>
    </fieldset>
    <div class="importe">
        <label class="short">
            Importe:
            <input type="text" [value]="totalAmount + ' €'" readonly [attr.aria-invalid]="isPagado">
        </label>
        <a href="javascript:void(0)" role="button" type="button" (click)="pagar()" [attr.aria-busy]="isLoading">Pagar</a>
    </div>
    <footer>
        <a routerLink="/comedor" role="button" class="outline">Volver</a>
        <a routerLink="/comedor" role="button">Guardar</a>
    </footer>
</form>

<!-- Modal -->
<dialog id="modal-example" [attr.open]="showModal">
    <article *ngIf="menuList$ | async as menuList">
        <form #menuForm="ngForm" [formGroup]="form">
            <fieldset>
                <legend>Plato principal</legend>
                <ng-container *ngFor="let principal of menuList['platosPrincipal']; let i=index">
                    <label for="principal{{i}}">
                        <input type="radio" id="principal{{i}}" name="principal" formControlName="principal" [value]="principal">
                        {{principal}}
                    </label>
                </ng-container>
            </fieldset>
            <fieldset>
                <legend>Plato segundo</legend>
                <ng-container *ngFor="let segundo of menuList['platosSegundo']; let i=index">
                    <label for="segundo{{i}}">
                        <input type="radio" id="segundo{{i}}" name="segundo" formControlName="segundo" [value]="segundo">
                        {{segundo}}
                    </label>
                </ng-container>
            </fieldset>
            <fieldset>
                <legend>Bebida</legend>
                <ng-container *ngFor="let bebida of menuList['bebidas']; let i=index">
                    <label for="bebida{{i}}">
                        <input type="radio" id="bebida{{i}}" name="bebida" formControlName="bebida" [value]="bebida">
                        {{bebida}}
                    </label>
                </ng-container>
            </fieldset>
            <fieldset>
                <legend>Postre</legend>
                <ng-container *ngFor="let postre of menuList['postres']; let i=index">
                    <label for="postre{{i}}">
                        <input type="radio" id="postre{{i}}" name="postre" formControlName="postre" [value]="postre">
                        {{postre}}
                    </label>
                </ng-container>
            </fieldset>
            <fieldset>
                <legend>Café/Infusión</legend>
                <ng-container *ngFor="let cafe of menuList['cafes']; let i=index">
                    <label for="cafe{{i}}">
                        <input type="radio" id="cafe{{i}}" name="cafe" formControlName="cafe" [value]="cafe">
                        {{cafe}}
                    </label>
                </ng-container>
            </fieldset>
        </form>
        <a href="javascript:void(0)" class="clear" (click)="menuForm.reset()">Borrar la selección</a>
        <label class="short">
            Importe menú:
            <input type="text" [value]="totalAmount + ' €'" readonly>
        </label>
        <footer>
            <a href="javascript:void(0)" role="button" class="secondary" (click)="closeModal()">
                Volver
            </a>
            <a href="javascript:void(0)" role="button" (click)="confirmMenu()">
                Confirmar
            </a>
        </footer>
    </article>
</dialog>