<header>
  <div class="col-left">
    <img class="logo-aire" src="/assets/logo-aire.png" alt="logo-aire">
    <h4 class="title">Portal de la Base</h4>
  </div>
  <div class="col-right">
    <img class="logo-account" src="/assets/account.svg" alt="account"/>
    <div class="user">
      <p class="user-name">Celes</p>
      <small>Manager</small>
    </div>
    <img class="chevron" src="/assets/down_chevron.svg" alt="chevron"/>
    <img class="salir" src="/assets/logout.svg" alt="logout" />
    &nbsp;Salir
  </div>
</header>
<main>
  <aside>
    <details open>
      <summary>Servicios</summary>
      <ul>
        <li routerLink="/comedor" routerLinkActive="active">Comedor</li>
        <li routerLink="/aparcamientos" routerLinkActive="active">Aparcamientos</li>
        <li routerLink="/guarderia" routerLinkActive="active">Guardería</li>
        <li routerLink="/ludoteca" routerLinkActive="active">Ludoteca</li>
        <li routerLink="/salas" routerLinkActive="active">Salas</li>
        <li routerLink="/apartamentos" routerLinkActive="active">Apartamentos</li>
        <li routerLink="/gimnasio" routerLinkActive="active">Gimnasio</li>
        <li>Biblioteca</li>
        <li>Piscina</li>
      </ul>
    </details>
    <details>
      <summary>Control horario</summary>
      <ul>
        <li>Fichaje diario</li>
        <li>Turnos</li>
      </ul>
    </details>
    <details>
      <summary>Control visitas</summary>
      <ul>
        <li routerLink="/visitas" routerLinkActive="active">Gestión visitas</li>
      </ul>
    </details>
  </aside>

  <section>
    <router-outlet></router-outlet>
  </section>

</main>