:host {
    display: block;
    height: 100%;
}

main {
    display: flex;
    gap: 4px;
    margin-top: 6px;
}

header,
aside,
section {
    background: #fff;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--primary-hover);
    color: #fff;
    padding-top: 6px;
    padding-bottom: 8px;
    .col-left {
        display: flex;
        align-items: center;
        gap: 14px;
        .logo-aire {
            height: 50px;
        }
        .title {
            margin: 0;
            color: #fff;
        }
    }
    .col-right {
        display: flex;
        align-items: center;
        .logo-account {
            height: 36px;
        }
        .user {
            margin-left: 12px;
            line-height: 1.2rem;
            cursor: pointer;
        }
        .user-name {
            margin: 0;
            font-weight: 500;
            color: #fff;
        }
        .salir {
            margin-left: 30px;
            cursor: pointer;
        }
    }
}


aside {
    flex: 0 1 250px;
    min-width: 200px;
    padding-top: 25px;
    background: #dae5eb;

    details[open] > summary {
        color: var(--accordion-close-summary-color);
    }
    summary {
        font-weight: 500;
    }
    ul {
        padding-left: 8px;
    }
    li {
        cursor: pointer;
        margin-bottom: 3px;
        border-radius: 6px;
        &.active,
        &.active:hover {
            color: #fff;
            background: #3596c3;
            font-weight: bold;
        }
        &:hover {
            background: hsl(205, 20%, 94%);
        }
    }
}

section {
    flex: 1;
    min-width: 0;
    padding-top: 20px;
    padding-bottom: 30px;
    margin-bottom: 0;
}
