<header>
  <img class="menu" src="/assets/white-menu.png" alt="logo-aire" (click)="showMenu=true">
  <div class="col-left">
    <img class="logo-aire" routerLink="/" src="/assets/logo-aire.png" alt="logo-aire">
    <h4 class="title" routerLink="/">Maestranza Aérea de Albacete</h4>
  </div>
  <div class="col-right">
    <img class="logo-account" src="/assets/account.svg" alt="account"/>
    <details role="list" dir="rtl" #combo>
      <summary aria-haspopup="listbox" role="link">{{currUser | async}}</summary>
      <ul role="listbox">
        <li *ngFor="let user of users" (click)="changeUser(user); combo.open=false" ><a>{{user}}</a></li>
        <li routerLink="/datos"><a>Datos</a></li>
      </ul>
    </details>

    <div class="salir">
      <img src="/assets/logout.svg" alt="logout" />
      &nbsp;Salir
    </div>
  </div>
</header>

<main>
  <aside *ngIf="showMenu">
    <details routerLinkActive="active" #servicios [attr.open]="servicios.classList.contains('active') ? '' : null">
      <summary>Servicios</summary>
      <ul (click)="hideMenu()">
        <li routerLink="/comedor" routerLinkActive="active" accessControl="User">Comedor</li>
        <li routerLink="/comedor-admin" routerLinkActive="active" accessControl="Admin">Comedor</li>
        <li routerLink="/aparcamientos" routerLinkActive="active" accessControl="User">Aparcamientos</li>
        <li routerLink="/aparcamientos-admin" routerLinkActive="active" accessControl="Admin">Aparcamientos</li>
        <li routerLink="/guarderia" routerLinkActive="active">Guardería</li>
        <li routerLink="/ludoteca" routerLinkActive="active">Ludoteca</li>
        <li routerLink="/salas" routerLinkActive="active">Salas</li>
        <li routerLink="/apartamentos" routerLinkActive="active">Apartamentos</li>
        <li routerLink="/gimnasio" routerLinkActive="active">Gimnasio</li>
        <li routerLink="/biblioteca" routerLinkActive="active">Biblioteca</li>
        <li routerLink="/piscina" routerLinkActive="active">Piscina</li>
        <li routerLink="/socorrista" routerLinkActive="active">Socorrista</li>
      </ul>
    </details>
    <details routerLinkActive="active" #taller [attr.open]="taller.classList.contains('active') ? '' : null">
      <summary>Mantenimiento</summary>
      <ul (click)="hideMenu()">
        <li routerLink="/herramientas" routerLinkActive="active">Talleres</li>
      </ul>
    </details>
    <details routerLinkActive="active" #horario [attr.open]="horario.classList.contains('active') ? '' : null">
      <summary>Control horario</summary>
      <ul (click)="hideMenu()">
        <li routerLink="/fichaje" routerLinkActive="active">Fichaje diario</li>
        <li routerLink="/turnos" routerLinkActive="active">Turnos</li>
      </ul>
    </details>
    <details routerLinkActive="active" #visitas [attr.open]="visitas.classList.contains('active') ? '' : null">
      <summary>Control visitas</summary>
      <ul (click)="hideMenu()">
        <li routerLink="/visitas" routerLinkActive="active">Gestión visitas</li>
      </ul>
    </details>
  </aside>

  <section (click)="hideMenu()">
    <router-outlet></router-outlet>
  </section>
</main>
